@charset "utf-8";




#headerTop {
	height: 100px;
	background-color: #fff;
	position: relative;
	padding: 15px 12px;
	margin-top: 45px;
}

#headerTop figure>img {
	width: 70px;
	height: 70px;
	border-radius: 35px;
	float: left;
}

#headerTop figcaption {
	float: left;
	width: 78%;
	padding-left: 12px;
}

#headerTop figcaption h3 {
	font-size: 21px;
	font-weight: normal;
	padding: 8px 0 10px 0;
}

#headerTop figcaption p {
	font-size: 14px;
	color: #353439;
}

#headerTop>a {
	width: 70px;
	height: 70px;
	position: absolute;
	right: 30px;
	top: 15px;
}

#workbench {
	width: 100%;
	height: 50px;
	font-size: 15px;
	background-color: #efefef;
	line-height: 50px;
	padding: 0 12px;
}

#workbench a {
	color: #585858;
	float: right;
}

#workbench hgroup {
	position: relative;
}

#workbench hgroup span {
	text-align: right;
	width: 100px;
	position: absolute;
	right: 30px;
}

#workbench .sword {
	width: 24px;
	height: 24px;
	position: absolute;
	top: 13px;
	right: 0;
}

#contant figure {
	display: inline-block;
	width: 32.4%;
	background-color: #fff;
	text-align: center;
	padding: 8px;
	margin-bottom: 5px;
}

#contant figure img {
	width: 80px;
	height: 80px;
}

#contant figure figcaption span {
	display: inline-block;
	padding-bottom: 15px;
	font-size: 14px;
	color: #585858;
}


/*页面尺寸小于479时*/

@media (max-width:320px) {
	#headerTop figure figcaption {
		width: 75%;
	}
	#contant figure figcaption span {
		padding-top: 8px;
		font-size: 12px;
	}
	#contant figure img {
		width: 60px;
		height: 60px;
	}
}

@media (min-width:414px) {
	
	
}