<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximm-sale=1.0,user-saclable=no" />
		<title>订单查询</title>
		<link rel="stylesheet" type="text/css" href="../../css/style.css" />
		<link rel="stylesheet" type="text/css" href="../css/orderList.css" />
	</head>

	<body>
		<div id="root">
			<header id="header">
				<nav class="nav">
					<a href="../../home/view/home.html" target="_self"><img class="back" src="../../images/homeImages/btn_back.png" /></a>
					<h2>订单查询</h2>
					<a href="###" target="_self"><img class="right" src="../../images/homeImages/btn-setting.png" /></a>
				</nav>
			</header>
			<div id="filterView">
				<section class="block left">
					<span>订单类型</span>
				</section>
				<span class="line"></span>
				<section class="block right">
					<span>订单状态</span>
				</section>
			</div>
			<div id="orderList">
				<div class="orderItem">
					<div class="listTop">
						<span>订单编号：1706260144088011</span>
						<em>已确认</em>
					</div>
					<div class="listBottom">
						<em>卡券</em>
						<h3>测试卡券_测试卡券</h3>
						<ul>
							<li>
								<span>下单人：<strong>张三 ｜ 15855243501</strong></span>
							</li>
							<li>
								<span>出行人数：<strong>3</strong></span>
							</li>
							<li>
								<span>订单总价：<strong>100元</strong></span>
							</li>
							<li>
								<span>下单日期：<strong>2016-07-20</strong></span>
							</li>
						</ul>

					</div>
				</div>
				<div class="orderItem">
					<div class="listTop">
						<span>订单编号：1706260144088011</span>
						<em>已确认</em>
					</div>
					<div class="listBottom">
						<em>卡券</em>
						<h3>测试卡券_测试卡券</h3>
						<ul>
							<li>
								<span>下单人：<strong>张三 ｜ 15855243501</strong></span>
							</li>
							<li>
								<span>出行人数：<strong>3</strong></span>
							</li>
							<li>
								<span>订单总价：<strong>100元</strong></span>
							</li>
							<li>
								<span>下单日期：<strong>2016-07-20</strong></span>
							</li>
						</ul>

					</div>
				</div>
				<div class="orderItem">
					<div class="listTop">
						<span>订单编号：1706260144088011</span>
						<em>已确认</em>
					</div>
					<div class="listBottom">
						<em>卡券</em>
						<h3>测试卡券_测试卡券</h3>
						<ul>
							<li>
								<span>下单人：<strong>张三 ｜ 15855243501</strong></span>
							</li>
							<li>
								<span>出行人数：<strong>3</strong></span>
							</li>
							<li>
								<span>订单总价：<strong>100元</strong></span>
							</li>
							<li>
								<span>下单日期：<strong>2016-07-20</strong></span>
							</li>
						</ul>

					</div>
				</div>

			</div>

		</div>
	</body>

</html>