<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<script src="../js/test01.js"></script>
	</head>

	<body>
		<!--<script>
			window.alert(5+6);
		</script>-->
		<p id="testp">这个是段落</p>
		<p id="demo"></p>
		<button type="button" onclick="validateForm()">按钮点击</button>
		<form name="myForm" action="" onsubmit="return validateForm()" method="">
			名字：<input type="text" name="fname" placeholder="请输入姓名" id="testT" />
			<br />
			年龄：<input type="date" name="fage" placeholder="请输入年龄" />
			<br />
			邮箱：<input type="text" name="email" placeholder="请输入邮箱" />
			<br />
			<input type="submit" value="提交" />
		</form>
		
		<a href="javascript:void(0)">单机</a>
		
	</body>

</html>