<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
			<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
		<title></title>
		<script src="../js/lsgameUser.js"></script>
		<link rel="stylesheet" style="text/css" href="../css/lsgameBase.css" />
		<link rel="stylesheet" style="text/css" href="../css/lsgameUser.css" />
		
	</head>

	<body>
		<div id="content">
			<!--<div class="userBGD" id="baseMess">
				<p>头像</p>
				<p>百米穿杨小能手</p>
				<img src="../images/icon-jiantou.png" id="lsMessImg" />
			</div>
			<div class="userBGD" id="baseMess">
				<p>头像</p>
				<p>百米穿杨小能手</p>
				<img src="../images/icon-jiantou.png" id="lsMessImg" />
			</div>-->
			<!--<div id="showMessD">
				<p>赛事个人信息完善</p>
				<p>(个人信息仅限修改一次)</p>
			</div>-->
			
		</div>
	</body>

</html>