<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title></title>
		<script src="../js/lsgameUser.js"></script>
		<link rel="stylesheet" style="text/css" href="../css/lsgameBase.css" />
		<link rel="stylesheet" style="text/css" href="../css/lsgameUser.css" />

	</head>

	<body>
		<div id="content">

		</div>
		<div class="baseAlert alertView">
			<div class="md-content">
				<h3 id="alertTitle">昵称</h3>
				<input type="text" id="inputT" placeholder="请输入昵称" />
				<button id="cancleBtn">取消</button>
				<button id="doneBtn">保存</button>
				<div id="lineV"></div>
			</div>
		</div>
	</body>

</html>