<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<title></title>
		<link rel="stylesheet" style="text/css" href="../css/lsgameBase.css" />
		<link rel="stylesheet" style="text/css" href="../css/lsgameHeader.css" />
		<script src="../js/lsgameHeader.js"></script>
	</head>

	<body>
		<div id="content">
			<div id="lsHeader">
				<!--头像-->
				<img src="../images/cat.jpg" id="lsIcon" />
				<!--名称-->
				<p id="lsName">王帆名</p>
				<p id="lsBus">洛桑精英射箭俱乐部</p>
				<a href="lsgameuser.html" id="lsMess">个人信息</a>
				<img src="../images/icon-jiantou.png" id="lsMessImg" />
			</div>
			<div id="lscontent">
			</div>
		</div>
	</body>

</html>