<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximm-sale=1.0,user-saclable=no" />
		<title>瓢城旅行社－移动端</title>
		<link rel="stylesheet" style="text/css" href="../css/style.css" />
	</head>

	<body>
		<header id="header">
			<nav class="link">
				<h2 class="none">网站导航</h2>
			<ul>
				<li>
					<a href="index.html">首页</a>
				</li>
				<li>
					<a href="###">资讯</a>
				</li>
				<li>
					<a href="###">票务</a>
				</li>
				<li>
					<a href="###">关于</a>
				</li>
			</ul>
			</nav>
		</header>
		
		<div id="adver">
			<img src="http://demo.ycku.com/html5/3/img/headline.jpg" />
		</div>
		<div id="search">
			<input type="text" class="search" placeholder="请输入旅游景点或城市" />
			<button type="submit">搜索</button>
		</div>
		
		<div id="tour">
			<hgroup>
				<h2>热门旅游</h2>
				<h3>国内旅游、国外旅游、自助旅游、自驾旅游、油轮签证、主题旅游等各种最新热门旅游推荐</h3>
			</hgroup>
		</div>
		
		
		<footer id="footer">
			<div class="top">
			客户端 ｜ 触屏版 ｜ 电脑版
			</div>
			
			<div class="bottom">
				Copyright © YCKU 瓢城旅行社 | 苏ICP备120110119号
			</div>
			
		</footer>

	</body>

</html>