<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximm-sale=1.0,user-saclable=no" />
		<title>拓世助手</title>
		<link rel="stylesheet" type="text/css" href="../../css/style.css" />
		<link rel="stylesheet" type="text/css" href="../css/home.css" />
	</head>

	<body>
		<div id="root">
			<header id="header">
				<nav class="nav">
					<h2>拓世助手</h2>
					<a href="###" target="_self"><img class="right" src="../../images/homeImages/btn-setting.png" /></a>
				</nav>
			</header>
			<div id="headerTop">
				<figure>
					<img src="../../images/homeImages/logo.png" />
					<figcaption>
						<hgroup>
							<h3>Admin</h3>
							<p>拓世户外管理员</p>
						</hgroup>
					</figcaption>
				</figure>
				<a href="###" target="_self"><img src="../../images/homeImages/icon-11.png" /></a>
			</div>
			<div id="workbench">
				<span>我的工作台</span>
				<a href="###">
					<hgroup>
						<span>所有功能</span>
						<img class="sword" src="../../images/homeImages/btn_jintou.png" />
					</hgroup>
				</a>

			</div>
			<div id="contant">
				<a href="../../order/view/orderList.html">
				<figure>
					<img src="../../images/homeImages/icon_1.png" />
					<figcaption>
						<span>订单管理</span>
					</figcaption>
				</figure>
				</a>
				<a href="###">
				<figure>
					<img src="../../images/homeImages/icon-2.png" />
					<figcaption>
						<span>产品管理</span>
					</figcaption>
				</figure>
				</a>
				<a href="###">
				<figure>
					<img src="../../images/homeImages/icon-3.png" />
					<figcaption>
						<span>会员管理</span>
					</figcaption>
				</figure>
				</a>
				<a href="###">
				<figure>
					<img src="../../images/homeImages/icon-4.png" />
					<figcaption>
						<span>活动点名</span>
					</figcaption>
				</figure>
				</a>
			</div>
		</div>
	</body>

</html>