<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximm-sale=1.0,user-saclable=no" />
		<title>卡券消费记录搜索</title>
		<link rel="stylesheet" type="text/css" href="../css/cardSearch.css" />
	</head>
	<body>
		<div id="root">
		<header id="header">
			<button type="button" class="back"></button>
			<input type="search" placeholder="请输入卡券号或手机号" class="searchText"/>
			<button type="button" class="calander"></button>
		</header>
		
		<div id="searchCondition">
			<p class="searchDate">日期：2016年8月26日－9月23日</p>
			<p class="searchCount">共<em>23</em>次消费记录</p>
		</div>
		
		<div id="searchResult">
			<section class="result">
				<h3>蚂蚁亲子采摘儿童卡</h3>
				<p>卡券号：8210382381931931</p>
				<p>验证日期：17/05/06 16:30</p>
				<em>验证数量：3次</em>
			</section>
			<section class="result">
				<h3>蚂蚁亲子采摘儿童卡</h3>
				<p>卡券号：8210382381931931</p>
				<p>验证日期：17/05/06 16:30</p>
				<em>验证数量：3次</em>
			</section>
			<section class="result">
				<h3>蚂蚁亲子采摘儿童卡</h3>
				<p>卡券号：8210382381931931</p>
				<p>验证日期：17/05/06 16:30</p>
				<em>验证数量：3次</em>
			</section>
			<section class="result">
				<h3>蚂蚁亲子采摘儿童卡</h3>
				<p>卡券号：8210382381931931</p>
				<p>验证日期：17/05/06 16:30</p>
				<em>验证数量：3次</em>
			</section>
		</div>
		</div>
	</body>
</html>
