<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximm-sale=1.0,user-saclable=no" />
		<title>蚂蚁亲子采摘季</title>
		<link rel="stylesheet" style="text/css" href="../css/style.css" />
	</head>

	<body>
		<div id="BGid">
			<div class="pHeader">
				<img src="http://image.51toc.net/lhj/img/mayiqinzi/1.png" />
			</div>
			<div class="colorView">
				<section class="cardSection">
					<h2>蚂蚁亲子小番茄采摘卡</h2>
					<span class="price">¥ <strong>6488</strong> 起</span>
					<div class="buy">立即抢购</div>
				</section>
				<section class="cardSection">
					<h2>蚂蚁亲子小番茄采摘卡</h2>
					<span class="price">¥ <strong>6488</strong> 起</span>
					<div class="buy">立即抢购</div>
				</section>
			</div>
			<div class="buyNotes">
				<section class="purchaseNotes">
					<h3>购买需知</h3>
					<ul>
						<li>在购买使用本卡前，请仔细阅读果园采摘内容及相关规定，查看开放时间及 相关信息，如有更新，请以官方唯一公众微信号“蚂蚁亲子”公布的最新内容为准。</li>
						<li>为确保正常入园采摘，请在购买采摘卡时，正确填写个人姓名及手机号码。</li>
						<li>支付成功后，采摘卡不支持退还。</li>
						<li>采摘卡中提供的农场（果园）方的相关信息仅供参考，如遇地址、电话变更及停业关闭等园方原因造成采摘卡不能使用，需三方协商解决。</li>
						<li>采摘现场，以互动游玩为主，请游客适量品尝，因个人食用过量、不洁使用等类似原因引起的身体不适，发行方不承担相关责任。</li>
						<li>采摘卡有效期内，前往农场（果园）采摘时间的规定，以本采摘卡的具体说明执行。因特殊情况或重大活动，农场（果园）方需调整接待时间，以园方的现场公告为准。</li>
						<li>本采摘卡不含保险，建议持卡人外出时自行购买保险。</li>
						<li>本采摘卡不可与学生证、老年证、残疾证、军人证等优惠证件同时使用。</li>
						<li>为最大程度确保每一位持卡人都能享受最佳采摘体验，请在入园采摘前电话预约咨询农场（果园），包括园内其他体验项目和活动。</li>
						<li>游客入园前请在园方工作人员指导下或按照现场入园海报提示操作使用。</li>
						<li>本采摘卡一经购买，即表示持有人已充分知晓本卡的相关信息并接受本章程条款，采摘卡持有人应遵循本卡使用的各项规则。</li>

					</ul>
				</section>
				<section class="purchaseNotes">
					<h3>联系电话</h3>
					<p>小番茄采摘:021-37787950 | 蓝莓采摘:021-59820299</p>
				</section>
			</div>

		</div>
	</body>

</html>